<!-- Test 1: Create a customer form with validation -->


<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
  <input
    type="text"
    name="firstName"
    id="firstName"
    required
    [(ngModel)]="firstName"
    #firstNameModel="ngModel"
    placeholder="first name*"
  />
  <div *ngIf="submitted && userForm.invalid">
    <span *ngIf="firstNameModel.invalid" class="error"
      >First Name is required</span
    >
  </div>

  <br />
  <br />
  <input
    type="text"
    name="lastName"
    id="lastName"
    required
    [(ngModel)]="lastName"
    #lastNameModel="ngModel"
    placeholder="Last name*"
  />
  <div *ngIf="submitted && userForm.invalid">
    <span *ngIf="lastNameModel.invalid" class="error"
      >Last Name is required</span
    >
  </div>

  <br />
  <br />
  <input
    type="text"
    name="jobTitle"
    id="jobTitle"
    required
    [(ngModel)]="jobTitle"
    placeholder="Job Title"
  />

  
  <br />
  <br />
  <input
    type="email"
    name="email"
    id="email"
    required
    [(ngModel)]="email"
    #emailModel="ngModel"
    email
    placeholder="Email*"
  />
  <div *ngIf="submitted && userForm.invalid">
    <span *ngIf="emailModel.errors?.required" class="error">Email is required</span>
    <span *ngIf="emailModel.errors?.email" class="error">Email is invalid</span>
  </div>

  <br />
  <br />
  <input
    type="tel"
    name="telephone"
    id="telephone"
    required
    [(ngModel)]="telephone"
    #telephoneModel="ngModel"
    placeholder="Telephone*"
  />
  <div *ngIf="submitted && userForm.invalid">
    <span *ngIf="telephoneModel.invalid" class="error">Telephone is required</span>
  </div>

  <br />
  <br />
  <!-- eg: https://google.com -->
  <input
    type="url"
    name="webAddress"
    id="webAddress"
    required
    [(ngModel)]="webAddress"
    #webAddressModel="ngModel"
    pattern="https?://.+"
    placeholder="Web Address*"
  />
  <div *ngIf="submitted && userForm.invalid">
    <span *ngIf="webAddressModel.errors?.required" class="error">Web Address is required</span>
    <span *ngIf="webAddressModel.errors?.pattern" class="error">Web Address is invalid</span>
  </div>

  <br />
  <br />

  <select
    name="country"
    id="country"
    required
    [(ngModel)]="country"
    (change)="checkCountry(country)"
    #countryModel="ngModel"
  >
    <option value="">Select Country*</option>
    <option *ngFor="let country of countries" [value]="country">
      {{ country }}
    </option>
  </select>
  <div *ngIf="submitted && userForm.invalid">
    <span *ngIf="countryModel.invalid" class="error">Country is required</span>
  </div>

  <br />
  <br />

  <select
    name="state"
    id="state"
    required
    [(ngModel)]="state"
    [disabled]="!isAustralian"
    #stateModel="ngModel"
  >
    <option value="">Select State</option>
    <option *ngFor="let state of australianStates" [value]="state">
      {{ state }}
    </option>
  </select>
  <div *ngIf="submitted && userForm.invalid">
    <span *ngIf="isAustralian && stateModel.invalid" class="error">State is required</span>
  </div>

  <br />
  <br />

  <button type="submit">Submit</button>
</form>
